<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>

{% if latest_question_list %} <!-- latest_question_list에 무엇이라도 있다면 아래 실행 -->
    <ul>
        {% for question in latest_question_list %} <!-- for 반복문 question in latest_question_list -->
            <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a> </li> <!-- 질문 항목들이 하나씩 들어옴 (네임스페이스 설정완료) -->
        {% endfor %}
    </ul>
{% else %} <!--  latest_question_list에 아무것도 없다면 아래 실행 -->
    <p>No polls are available.</p>
{% endif %}

</body>
</html>